.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10vw;
}

.hideBg::part(background) {
  display: none;
}

.scan-box {
  border: 2px solid var(--ion-color-primary-contrast);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  display: block;
  left: 50%;
  height: 70vw;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
}

.scan-icon {
  width: 8rem;
  height: 8rem;
  fill: var(--ion-color-warning);
  stroke-width: 0;
  margin: 0 auto;
  padding-bottom: 5rem;
}
